.LoadingBackground {
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    opacity: 1;
    justify-content: space-around;
    background-image: url("project://database/Assets/UI/ElementsSvg/Background.svg?fileID=7388822144124034973&guid=b5634bd4ac6a4b74d9dea27c5722b639&type=3#Background");
}
